.footer-menu__link {
    font-size: $font-size__button;

    transition: all .2s;


    &:hover {
        color: $color--purple;
    }

    &:focus {
        color: $color--purple;
    }

    &:active {
        color: $text-color--black;
    }

    @media (max-width: $screen--very-small) {
        font-size: $font-size__link;
    }
}
