.top-menu__link {
    position: relative;

    transition: all .2s;

    &:hover {
        color: $color--purple;
    }   

    &:focus {
        color: $color--purple;
    }

    &:active {
        color: $text-color--black;
    }

    &:hover::before {
        position: absolute;

        width: 100%;
        height: 100%;

        content: " ";

        border-bottom: 1px solid $color--purple;
    }

    &:focus::before {
        position: absolute;

        width: 100%;
        height: 100%;

        content: " ";

        border-bottom: 1px solid $color--purple;
    }
}
