.top-menu__link {
    transition: all 0.2s;
    
    &:hover {
        color: $color--purple;
        border-bottom: 1px solid $color--purple;
    }

    &:focus {
        color: $color--purple;
        border-bottom: 1px solid $color--purple;
    }

    &:active {
        color: $text-color--black;
    }
}