.my-profile__title-container {
    font-size: $font-size__title-container;
    font-weight: 800;

    margin: 0;
    margin-bottom: 65px;

    text-align: left;

    color: $text-color__title;

    	@media (max-width: $screen--medium) {
	        font-size: $font-size__section-title;

	        margin-bottom: 69px;
    	}

        @media (max-width: $screen--very-small) {
            font-size: $font-size__title;

            margin-bottom: 44px;

            text-align: center;
        }
}