.pagination__button {
    width: 18px;
    height: 18px;
    margin-right: 30px;

    border-radius: 9px;
    background-color: $color-bgr__pagination;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $text-color__call-button;
    }
    @media (max-width: $screen--very-small) {
        width: 10px;
        height: 10px;
        margin-right: 12px;
    }
}
