$color-bgr--white: #fff;
$color-bgr--main: #fbfbfb;
$color-button--red: #ff4e2e;
$color-button__border: #f82370;
$color-bgr__copyrighting: #31293c;
$color-bgr--gradient: linear-gradient(23deg, #ff8f5a, #ff2f96);
$color-bgr__pagination: #ebebeb;
$color--purple: #fc557c;
$color-button--hover: #ff2f96;

$font-size__heading: 20px;
$font-size__button: 18px;
$font-size--default: 16px;
$font-size__title-container: 80px;
$font-size__link: 15px;
$font-size__icon: 35px;
$font-size__title: 30px;
$font-size__title--medium: 25px;
$font-size__section-title: 54px;
$font-size__items: 25px;
$font-size__price: 45px;
$font-size__copyrighting--small: 12px; 
$font-size__title--small: 28px; 

$line-height__heading: 30px;
$line-height__subtitle--small: 15px;
$line-height__heading--small: 24px;
$line-height__title: 70px;
$line-height__title--small: 40px;
$line-height__title--medium: 60px;
$line-height__title--very-small: 35px;



$text-color__section-title: #262626;
$text-color__call-button: #f53f4f;
$text-color--black: #000;
$text-color--white: #fff;
$text-color__title: #1f1f24;
$text-color__subtitle: #8993ad;

$screen--gigant: 1380px;
$screen--large: 1250px;
$screen--medium: 1200px;
$screen--small: 1042px;
$screen--very-small: 1024px;