.top-menu__nav {
    font-weight: normal;

    display: flex;

    margin-top: 10px;

    flex-grow: 1;

    @media (max-width: $screen--medium) {
        margin-top: 0;
    }

    @media (max-width: $screen--small) {
        margin-top: 0;
    }

    @media (max-width: $screen--very-small) {
        margin: 0;
    }
}
