.footer-menu__item {
    margin-bottom: 10px;
    
    &:hover {
        color: $color--purple;
        border-bottom: 1px solid $color--purple;
    }

    &:focus {
        color: $color--purple;
        border-bottom: 1px solid $color--purple;
    }
}
