.connection__link {
    display: inline-block;

    width: 40px;
    height: 30px;

    background-image: url("../img/sprites/socialMediaSprite.png");
    background-repeat: no-repeat;

    &:hover {
        opacity: .7;
    }

    &:focus {
        opacity: .7;
    }

    &:active {
        opacity: 1;
    }
}
