.call-button {
    color: $text-color__call-button;
    border: 1px solid $color-button__border;
    
    display: block;

    &:hover {
        color: $text-color--black;
    }

    &:focus {
        color: $text-color--black;        
    }

    &:active {
        color: $text-color__call-button;
    }
}
