.icons-wrapper__container {
    position: absolute;
    z-index: 1;

    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(1,.11,0,2.25);
    
    	@media (max-width: $screen--medium) {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 40px;
    	}
}
