.modal__close {
    position: absolute;
    z-index: 1010;
    top: -40px;
    right: -40px;

    width: 30px;
    height: 30px;

    transition: all .2s;

    background-image: url('../img/modalCloseButton.png');
    background-size: cover;

    &:focus {
        transform: scale(1.3);
    }

    &:hover {
        transform: scale(1.3);
    }

    &:active {
        transform: scale(1.5);
    }
}
