.slider__wrapper {
    width: 100%;
    height: 350px;

    transition: transform .6s ease;
    transform: translateX(-1.3%);
    white-space: nowrap;

    @media (max-width: $screen--large) {
        transform: translateX(0%);
    }

    @media (max-width: $screen--medium) {
        height: auto;
    }

    @media (max-width: $screen--very-small) {
        transform: translateX(-100%);
    }
}
