.price__container {
    top: 0;
    left: 50%;

    width: 0;
    height: 0;

    	@media (max-width: $screen--medium) {
    		max-width: 945px;
    	}
    	
    	@media (max-width: $screen--very-small) {
            display: none;            
    	}
}